# requirements.txt 

# Core data and ML
scikit-learn==1.5.1
pandas==2.2.2
joblib==1.4.2

# Deep Learning para NLP y optimización
torch==2.3.1
transformers==4.41.2
accelerate==0.31.0
datasets==2.19.2
sentencepiece==0.2.0
sacremoses==0.1.1

# Utilidades de ML y Visualización
imbalanced-learn==0.12.3
mlxtend==0.23.1
seaborn==0.13.2
matplotlib==3.9.0
Pillow==10.3.0

# Configuración, MLOps y App
PyYAML==6.0.1
mlflow==2.14.1
streamlit==1.36.0
pyngrok==7.1.6
tqdm==4.66.4
